In [1]:
import re
import pandas as pd
import numpy as np

import warnings
warnings.simplefilter("ignore")

In [2]:
df = pd.read_excel('data_cleaning.xlsx', 'Usage', header=None)

df.head()

                                           0
0      3 PM  Mon 24th-Mar-2014___0.384 kwh
1             5AM  15-Aug-2014___1.201  kwh
2       __8PM Thu 20-Mar-2014____1.523 kwh
3            6PM  23rd-Apr-2014___0.424  kwh
4  _1AM  Friday 19th-Dec-2014___0.209  kwh

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       8760 non-null   object
dtypes: object(1)
memory usage: 68.6+ KB

In [4]:
df.duplicated().sum()

6

In [5]:
df.drop_duplicates(inplace=True)

df.isnull().sum().sum()

0

In [6]:
df = df.rename(columns={0: 'col'})

df.head()

                                         col
0      3 PM  Mon 24th-Mar-2014___0.384 kwh
1             5AM  15-Aug-2014___1.201  kwh
2       __8PM Thu 20-Mar-2014____1.523 kwh
3            6PM  23rd-Apr-2014___0.424  kwh
4  _1AM  Friday 19th-Dec-2014___0.209  kwh

In [7]:
df['col'] = df['col'].replace("_", " ", regex=True)

df.head()

                                         col
0      3 PM  Mon 24th-Mar-2014   0.384 kwh
1             5AM  15-Aug-2014   1.201  kwh
2         8PM Thu 20-Mar-2014    1.523 kwh
3            6PM  23rd-Apr-2014   0.424  kwh
4   1AM  Friday 19th-Dec-2014   0.209  kwh

In [8]:
df['meridiem'] = df['col'].map(lambda x: 'AM' if re.search('AM', x) else ('PM' if re.search('PM', x) else None))

df['unit'] = df['col'].map(lambda x: 'kwh' if re.search('kwh', x) else None)

df['col'] = df['col'].replace(("AM", 'PM', 'kwh'), "", regex=True)

df['col'] = df['col'].map(lambda x: x.strip())

df.head()

                               col meridiem unit
0    3   Mon 24th-Mar-2014   0.384       PM  kwh
1           5  15-Aug-2014   1.201       AM  kwh
2       8 Thu 20-Mar-2014    1.523       PM  kwh
3         6  23rd-Apr-2014   0.424       PM  kwh
4  1  Friday 19th-Dec-2014   0.209       AM  kwh

In [9]:
df['consumption'] = df['col'].map(lambda x: x.split(' ')[-1])

df['col'] = df['col'].str.rsplit(' ').str[:-1].apply(' '.join)

df['col'] = df['col'].map(lambda x: x.strip())

df.head()

                       col meridiem unit consumption
0    3   Mon 24th-Mar-2014       PM  kwh       0.384
1           5  15-Aug-2014       AM  kwh       1.201
2        8 Thu 20-Mar-2014       PM  kwh       1.523
3         6  23rd-Apr-2014       PM  kwh       0.424
4  1  Friday 19th-Dec-2014       AM  kwh       0.209

In [10]:
df['hour'] = df['col'].map(lambda x: x.split(' ')[0])

df['col'] = df['col'].str.split(' ').str[1:].apply(' '.join)

df['col'] = df['col'].map(lambda x: x.strip())

df.head()

                    col meridiem unit consumption hour
0     Mon 24th-Mar-2014       PM  kwh       0.384    3
1           15-Aug-2014       AM  kwh       1.201    5
2       Thu 20-Mar-2014       PM  kwh       1.523    8
3         23rd-Apr-2014       PM  kwh       0.424    6
4  Friday 19th-Dec-2014       AM  kwh       0.209    1

In [11]:
df['weekday'] = df['col'].map(lambda x: 'Mon' if re.search('Mon ', x) or re.search('Monday', x) 
                                      else ('Tue' if re.search('Tue ', x) or re.search('Tuesday', x) 
                                      else ('Wed' if re.search('Wed ', x) or re.search('Wednesday', x) 
                                      else ('Thu' if re.search('Thu ', x) or re.search('Thursday', x) 
                                      else ('Fri' if re.search('Fri ', x) or re.search('Friday', x) 
                                      else ('Sat' if re.search('Sat ', x) or re.search('Saturday', x) 
                                      else ('Sun' if re.search('Sun ', x) or re.search('Sunday', x) else None)))))))

In [12]:
df.head()

                    col meridiem unit consumption hour weekday
0     Mon 24th-Mar-2014       PM  kwh       0.384    3     Mon
1           15-Aug-2014       AM  kwh       1.201    5    None
2       Thu 20-Mar-2014       PM  kwh       1.523    8     Thu
3         23rd-Apr-2014       PM  kwh       0.424    6    None
4  Friday 19th-Dec-2014       AM  kwh       0.209    1     Fri

In [13]:
df['col'] = df['col'].replace(('Mon ', 'Monday', 
                               'Tue ', 'Tuesday', 
                               'Wed ', 'Wednesday', 
                               'Thu ', 'Thursday', 
                               'Fri ', 'Friday', 
                               'Sat ', 'Saturday', 
                               'Sun ', 'Sunday'), "", regex=True)

In [14]:
df.head()

              col meridiem unit consumption hour weekday
0   24th-Mar-2014       PM  kwh       0.384    3     Mon
1     15-Aug-2014       AM  kwh       1.201    5    None
2     20-Mar-2014       PM  kwh       1.523    8     Thu
3   23rd-Apr-2014       PM  kwh       0.424    6    None
4   19th-Dec-2014       AM  kwh       0.209    1     Fri

In [15]:
df['col'] = df['col'].replace(("st", 'nd', 'rd', 'th'), "", regex=True)

df['col'] = df['col'].map(lambda x: x.strip())

df.head()

           col meridiem unit consumption hour weekday
0  24-Mar-2014       PM  kwh       0.384    3     Mon
1  15-Aug-2014       AM  kwh       1.201    5    None
2  20-Mar-2014       PM  kwh       1.523    8     Thu
3  23-Apr-2014       PM  kwh       0.424    6    None
4  19-Dec-2014       AM  kwh       0.209    1     Fri

In [16]:
df = df.rename(columns={'col': 'date'})

df.head()

          date meridiem unit consumption hour weekday
0  24-Mar-2014       PM  kwh       0.384    3     Mon
1  15-Aug-2014       AM  kwh       1.201    5    None
2  20-Mar-2014       PM  kwh       1.523    8     Thu
3  23-Apr-2014       PM  kwh       0.424    6    None
4  19-Dec-2014       AM  kwh       0.209    1     Fri

In [17]:
df.isnull().sum()

date              0
meridiem          0
unit              0
consumption       0
hour              0
weekday        4297
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8754 entries, 0 to 8759
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         8754 non-null   object
 1   meridiem     8754 non-null   object
 2   unit         8754 non-null   object
 3   consumption  8754 non-null   object
 4   hour         8754 non-null   object
 5   weekday      4457 non-null   object
dtypes: object(6)
memory usage: 478.7+ KB

In [19]:
df['datetime_24H'] = df['date'] +" "+ df['hour'] + " " + df['meridiem']

df['datetime_24H'] = pd.to_datetime(df['datetime_24H'], format='%d-%b-%Y %I %p')

df['date'] = pd.to_datetime(df['date'])

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8754 entries, 0 to 8759
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          8754 non-null   datetime64[ns]
 1   meridiem      8754 non-null   object
 2   unit          8754 non-null   object
 3   consumption   8754 non-null   object
 4   hour          8754 non-null   object
 5   weekday       4457 non-null   object
 6   datetime_24H  8754 non-null   datetime64[ns]
dtypes: datetime64[ns](2), object(5)
memory usage: 547.1+ KB

In [21]:
df['day_name'] = df['date'].dt.day_name() # or dt.dayofweek
df['month'] = df['date'].dt.month_name()
df['year'] = pd.DatetimeIndex(df['date']).year

df.head()

,date,meridiem,unit,consumption,hour,weekday,datetime_24H,day_name,month,year
0,2014-03-24,PM,kwh,0.384,3,Mon,2014-03-24 15:00:00,Monday,March,2014
1,2014-08-15,AM,kwh,1.201,5,None,2014-08-15 05:00:00,Friday,August,2014
2,2014-03-20,PM,kwh,1.523,8,Thu,2014-03-20 20:00:00,Thursday,March,2014
3,2014-04-23,PM,kwh,0.424,6,None,2014-04-23 18:00:00,Wednesday,April,2014
4,2014-12-19,AM,kwh,0.209,1,Fri,2014-12-19 01:00:00,Friday,December,2014

In [22]:
df.isnull().sum()

date               0
meridiem           0
unit               0
consumption        0
hour               0
weekday         4297
datetime_24H       0
day_name           0
month              0
year               0
dtype: int64

In [23]:
df = df[['hour', 'meridiem', 'weekday', 'date', 'consumption', 'unit', 'datetime_24H', 'year', 'month',  'day_name']]

In [24]:
df.head()

,hour,meridiem,weekday,date,consumption,unit,datetime_24H,year,month,day_name
0,3,PM,Mon,2014-03-24,0.384,kwh,2014-03-24 15:00:00,2014,March,Monday
1,5,AM,None,2014-08-15,1.201,kwh,2014-08-15 05:00:00,2014,August,Friday
2,8,PM,Thu,2014-03-20,1.523,kwh,2014-03-20 20:00:00,2014,March,Thursday
3,6,PM,None,2014-04-23,0.424,kwh,2014-04-23 18:00:00,2014,April,Wednesday
4,1,AM,Fri,2014-12-19,0.209,kwh,2014-12-19 01:00:00,2014,December,Friday

In [25]:
df.consumption = df.consumption.astype(float)

In [26]:
df.hour = df.hour.astype(int)

# Question 1
What is your average hourly electricity usage?

In [27]:
round(df.consumption.mean(), 3)

0.782

# Question 2
What is your average electricity usage
perhour in February?

In [28]:
round(df[df['date'].dt.month == 2].consumption.mean(), 3)

0.834

# Question 3
Which day of the week has the
highest average usage?

In [29]:
df.groupby(['day_name']).agg({'consumption' : 'mean'}).sort_values('consumption', ascending=False).head(1).index.values.item()

'Sunday'

# Question 4
What is the highest amount of
electricity used in a continuous 4 hour
period?

In [30]:
new_df = df[['datetime_24H', 'consumption']].sort_values(['datetime_24H'])

new_df.reset_index(drop=True, inplace=True)

round(new_df['consumption'].rolling(4).sum().max(), 3)

17.237

In [31]:
# max_usage = 0

# for i in range(len(new_df) - 3):
#     sum_usage = new_df.iloc[i]['consumption'] + new_df.iloc[i+1]['consumption'] + new_df.iloc[i+2]['consumption'] + new_df.iloc[i+3]['consumption']
#     if sum_usage > max_usage:
#         max_usage = sum_usage
        
# round(max_usage, 3)

# Question 5
Based on your historic electricity usage,
what would your annual cost of
electricitybe under the "Monthly Flex"
contract?

In [32]:
year_df = df[['month', 'consumption']]

year_gr = year_df.groupby(['month']).agg({'month' : 'first', 'consumption' : 'sum'})

In [33]:
year_gr['monthly_cost'] = np.where(year_gr['month']== 'January', year_gr['consumption']*0.20, 
                            (np.where(year_gr['month']== 'February', year_gr['consumption']*0.19,
                            (np.where(year_gr['month']== 'March', year_gr['consumption']*0.17,
                            (np.where(year_gr['month']== 'April', year_gr['consumption']*0.18,
                            (np.where(year_gr['month']== 'May', year_gr['consumption']*0.22,
                            (np.where(year_gr['month']== 'June', year_gr['consumption']*0.27,
                            (np.where(year_gr['month']== 'July', year_gr['consumption']*0.24,
                            (np.where(year_gr['month']== 'August', year_gr['consumption']*0.19,
                            (np.where(year_gr['month']== 'September', year_gr['consumption']*0.18,
                            (np.where(year_gr['month']== 'October', year_gr['consumption']*0.15,
                            (np.where(year_gr['month']== 'November', year_gr['consumption']*0.14,
                            (np.where(year_gr['month']== 'December', year_gr['consumption']*0.19, 
                                      False)))))))))))))))))))))))

In [34]:
# The Monthly Flex plan

round(year_gr['monthly_cost'].sum(), 2)

1420.06

# Question 6
Based on your historic electricity
usage, which of the three contracts
would produce the lowest annual
cost?
##### Monthly Flex / No Flex / Hourly Flex Plans

In [35]:
# The Monthly Flex plan

round(year_gr['monthly_cost'].sum(), 2)

1420.06

In [36]:
# No Flex Plan

round(df['consumption'].sum()*0.21, 2)

1436.87

In [37]:
# The Hourly Flex plan

hour_group = df.groupby(['hour', 'meridiem']).agg({'hour' : 'first', 'meridiem' : 'first', 'consumption' : 'sum'})

hour_group['h_m'] = hour_group['hour'].astype('string') + hour_group['meridiem']

hour_group['hourly_cost'] =  np.where(hour_group['h_m']== '12AM', hour_group['consumption']*0.10, 
                            (np.where(hour_group['h_m']== '1AM',  hour_group['consumption']*0.10,
                            (np.where(hour_group['h_m']== '2AM',  hour_group['consumption']*0.10,
                            (np.where(hour_group['h_m']== '3AM',  hour_group['consumption']*0.10,
                            (np.where(hour_group['h_m']== '4AM',  hour_group['consumption']*0.15,
                            (np.where(hour_group['h_m']== '5AM',  hour_group['consumption']*0.20,
                            (np.where(hour_group['h_m']== '6AM',  hour_group['consumption']*0.24,
                            (np.where(hour_group['h_m']== '7AM',  hour_group['consumption']*0.24,
                            (np.where(hour_group['h_m']== '8AM',  hour_group['consumption']*0.26,
                            (np.where(hour_group['h_m']== '9AM',  hour_group['consumption']*0.20,
                            (np.where(hour_group['h_m']== '10AM', hour_group['consumption']*0.20,
                            (np.where(hour_group['h_m']== '11AM', hour_group['consumption']*0.26,
                            (np.where(hour_group['h_m']== '12PM', hour_group['consumption']*0.26,
                            (np.where(hour_group['h_m']== '1PM',  hour_group['consumption']*0.20,
                            (np.where(hour_group['h_m']== '2PM',  hour_group['consumption']*0.24,
                            (np.where(hour_group['h_m']== '3PM',  hour_group['consumption']*0.18,
                            (np.where(hour_group['h_m']== '4PM',  hour_group['consumption']*0.15,
                            (np.where(hour_group['h_m']== '5PM',  hour_group['consumption']*0.30,
                            (np.where(hour_group['h_m']== '6PM',  hour_group['consumption']*0.24,
                            (np.where(hour_group['h_m']== '7PM',  hour_group['consumption']*0.24,
                            (np.where(hour_group['h_m']== '8PM',  hour_group['consumption']*0.12,
                            (np.where(hour_group['h_m']== '9PM',  hour_group['consumption']*0.11,
                            (np.where(hour_group['h_m']== '10PM', hour_group['consumption']*0.10,
                            (np.where(hour_group['h_m']== '11PM', hour_group['consumption']*0.10, 
                                      False)))))))))))))))))))))))))))))))))))))))))))))))


round(hour_group['hourly_cost'].sum(), 2)

1367.85